{% extends 'layout.html' %}
{% block title %}Anasayfa{% endblock title %}

{% block body %}
    <div class="jumbotron text-center">
        <h3>Anasayfa</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident enim neque necessitatibus doloremque sequi optio maxime molestiae ullam reprehenderit libero, corporis odio, a similique corrupti illo cumque obcaecati fuga. Eaque.</p>
    </div>

    <p>
        {% if request.user.is_authenticated  %}
            Giriş yapılmış
            <small>{{ request.user.username }}</small>
            
        {% else %}
            Giriş yapılmamış
        {% endif %}
    
    </p>

{% endblock body %}